* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik-Regular.ttf');
}

@font-face {
  font-family: 'TartuffoTrial';
  src: url('/assets/fonts/Tartuffo_Trial-Regular.otf');
}

:root {
  --main-blue: rgba(13, 15, 46, 1);
  --light-blue: rgba(231, 244, 245, 1);
  --teal: rgba(0, 46, 51, 1);

  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-blue: var(--main-blue);

  --border-color: rgba(13, 15, 46, 0.08);

  --spacing-unit: 0.5rem;
  --spacing-sm: calc(var(--spacing-unit) * 2);
  --spacing-md: calc(var(--spacing-unit) * 3);
  --spacing-lg: calc(var(--spacing-unit) * 4);
  --spacing-xl: calc(var(--spacing-unit) * 5);
  --spacing-2xl: calc(var(--spacing-unit) * 6);
  --spacing-3xl: calc(var(--spacing-unit) * 8);

  --max-width: 1250px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Aeonik';
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;

  @media only screen and (min-width: 64em) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2rem;
  @media only screen and (min-width: 64em) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media only screen and (min-width: 64em) {
    font-size: 2rem;
  }
}

.heading--secondary {
  font-family: 'TartuffoTrial';
  text-transform: uppercase;
  font-size: 1.05rem;
}

p {
  line-height: 1.5rem;

  @media only screen and (min-width: 64em) {
    line-height: 2.5rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  background: var(--light-blue);
  border: none;
  border-radius: 5px;

  padding: 1.25rem 2rem;
  width: fit-content;

  font-family: 'Aeonik';
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

header {
  background: url('./assets/img/header-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 55%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  padding: var(--spacing-lg);

  min-height: 60vh;
  height: fit-content;

  @media only screen and (min-width: 48em) {
    background-position: 5% 0%;
  }

  @media only screen and (min-width: 64em) {
    min-height: 100vh;
    background-position: 50% 80%;
    padding-top: 0;
  }
}

header h1 {
  width: 100%;
  padding-top: 0;

  @media only screen and (min-width: 48em) {
    padding-top: var(--spacing-lg);
    max-width: 70%;
  }
}

header h3 {
  @media only screen and (min-width: 48em) {
    max-width: 50%;
  }
}

header img {
  width: 10rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);
  align-items: center;

  width: 100%;
  box-sizing: border-box;

  @media only screen and (min-width: 48em) {
    flex-direction: row;
    padding: var(--spacing-md) var(--spacing-lg);
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);

  list-style-type: none;

  @media only screen and (min-width: 48em) {
    align-self: end;
    gap: var(--spacing-xl);
  }
}

nav li a {
  text-transform: uppercase;
  color: var(--text-color-blue);
}

.arrow-link {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border-bottom: solid 1px var(--text-color-white);

  width: 100%;
}

.arrow-link p {
  font-family: 'TartuffoTrial';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;

  margin: var(--spacing-sm) 0;
}

.arrow-link:hover {
  text-decoration: none;
}

.section-wrapper {
  padding: var(--spacing-2xl) var(--spacing-md);

  @media only screen and (min-width: 64em) {
    padding: calc(var(--spacing-2xl) * 2) var(--spacing-xl);
  }
}

.intro-wrapper {
  background-color: var(--main-blue);
  min-height: fit-content;

  @media only screen and (min-width: 64em) {
    min-height: 80vh;
  }
}

.intro {
  display: grid;

  gap: var(--spacing-lg);
  justify-content: space-between;
  grid-template-columns: 100%;

  color: var(--text-color-white);

  @media only screen and (min-width: 48em) {
    gap: var(--spacing-xl);

    padding: var(--spacing-xl);

    max-width: var(--max-width);
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 64em) {
    margin: auto;
    gap: calc(var(--spacing-3xl) * 3);
  }
}

.intro-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.intro-description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 60ch;
}

.what-we-do-wrapper {
  background: var(--light-blue);
}

.what-we-do {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  max-width: var(--max-width);
  margin: auto;

  @media only screen and (min-width: 64em) {
    gap: var(--spacing-3xl);
  }
}

.what-we-do-description,
.intro-description {
  @media only screen and (min-width: 64em) {
    font-size: 1.65rem;
  }
}

.what-we-do-description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.what-we-do-cards {
  display: grid;

  grid-template-columns: 100%;

  margin: auto;

  @media only screen and (min-width: 48em) {
    grid-template-columns: repeat(2, 25rem);
  }
}

.what-we-do-cards p {
  line-height: 1.5rem;
}

.what-we-do-cards .card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 40ch;

  padding: var(--spacing-lg);

  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.card:nth-child(2) ~ * {
  border-bottom: none;
}

.featured {
  max-width: var(--max-width);

  margin: auto;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  align-items: center;
}

.featured img {
  width: 1.5rem;
  height: 1.5rem;
}

.featured p {
  max-width: 85ch;
  font-size: 2rem;
  line-height: normal;

  @media only screen and (min-width: 64em) {
    line-height: 3.8rem;
    font-size: 2.75rem;
    text-align: center;
  }
}

footer {
  background: var(--teal);
  color: var(--text-color-white);

  @media only screen and (min-width: 48em) {
    height: 15rem;
  }
}

.footer-inner {
  display: grid;
  grid-template-columns: 100%;
  align-content: space-between;

  gap: var(--spacing-lg);

  margin: auto;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  @media only screen and (min-width: 48em) {
    grid-template-columns: repeat(2, 50%);
    max-width: calc(var(--max-width) - 20rem);
  }
}

.footer-reserved {
  grid-template-columns: 100%;
  grid-area: 3/1;
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (min-width: 48em) {
    grid-area: span 3;
  }
}

footer h2 {
  font-size: 1.05rem !important;

  @media only screen and (min-width: 48em) {
    font-size: 2.25rem !important;
  }
}

footer p {
  line-height: 1.5rem;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  ...;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  ...;
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  ...;
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  ...;
}
